{{template "base/base.html" .}}
{{define "meta"}}
    <meta name="description" content="Beego Web is official blog and documentation website for beego app web framework" />
    <meta name="keywords" content="Go, golang, beego, API documentation, blog, app web framework">
    <title>{{i18n .Lang "homepage"}} - beego: {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "head"}}{{end}}
{{define "body"}}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    果果妈-颐和果园
                </div>
                <div class="desc">
                    {{i18n .Lang "home.beego_desc"}}
                </div>
                <!--
                <div class="actions">
                    <a href="/docs/intro/" class="btn btn-lg btn-info">{{i18n .Lang "learn more"}}</a>
                    <a href="/quickstart" class="btn btn-lg btn-success">{{i18n .Lang "get started"}}</a>
                    <span style="position:absolute;margin:10px 0 0 40px;">{{i18n .Lang "version"}}</span>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-8">
            <h2>{{i18n .Lang "home.fruit"}}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="markdown">
                        {{if eq .Lang "zh-CN"}}
                            <!--
                            <p>下载安装</p>
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>创建文件 <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                            -->
                            <h3>木瓜</h3>
                            <img src="/static/img/fruits/mugua.jpg">

                        {{else}}
                            <!--
                            <p>Download and install</p>
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>Create file <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                            -->
                        {{end}}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="markdown">
                    {{if eq .Lang "zh-CN"}}
                        <!--
                        <p>编译运行</p>
                        <pre lang="bash"><code>go build -o hello hello.go<br>./hello</code></pre>
                        <p>浏览效果</p>
                        <p>打开浏览器并访问 <code>http://localhost:8080</code></p>
                        <p>恭喜！您已经成功构建了第一个 beego 项目。</p>
                        <p>请查阅 <a href="/docs">开发文档</a> 以进行深入学习。</p>
                        -->
                        <h3>百香果</h3>
                        <img src="/static/img/fruits/baixiangguo.jpg">
                    {{else}}
                        <!--
                    <p>Build and run</p>
                    <pre lang="bash"><code>go build hello.go<br>./hello</code></pre>
                    <p>View effects</p>
                    <p>Open your browser and visit <code>http://localhost:8080</code></p>
                    <p>Congratulations! You just built your first beego app.</p>
                    <p>Please see <a href="/docs">Documentation</a> for going further.</p>
                        -->
                    {{end}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="markdown">
                    {{if eq .Lang "zh-CN"}}
                        <h3>火龙果</h3>
                        <img src="/static/img/fruits/huolongguo.jpeg">
                    {{else}}
                        <!--
                    <p>Build and run</p>
                    <pre lang="bash"><code>go build hello.go<br>./hello</code></pre>
                    <p>View effects</p>
                    <p>Open your browser and visit <code>http://localhost:8080</code></p>
                    <p>Congratulations! You just built your first beego app.</p>
                    <p>Please see <a href="/docs">Documentation</a> for going further.</p>
                        -->
                    {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>{{i18n .Lang "home.weixin"}}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="markdown">
                    {{if eq .Lang "zh-CN"}}
                        <h3>24h微信交流，售后有保障</h3>
                        <img src="/static/img/fruits/weixin.png">
                    {{else}}
                    {{end}}
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="home-box">
                <h2>{{i18n .Lang "home.weixin"}}</h2>
                <div class="well markdown">
                    <ul class="list-unstyled">
                        {{if eq .Lang "zh-CN"}}
                            <h3>联系我吧，有保障的售后</h3>
                            <img src="/static/img/fruits/weixin.png">

                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/controller/router.md">控制器路由设置</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/model/overview.md">ORM 入门</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/view/view.md">模板处理</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/examples/">官方开发示例</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/module/">可选高级模块</a></li>

                        {{else}}

                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/controller/router.md">Router and Controller</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/model/overview.md">ORM Usage</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/mvc/view/view.md">Template Usage</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/examples/">Beego Samples</a></li>
                            <li><i class="icon-angle-right"></i> <a href="/docs/module/">Optional Advanced Modules</a></li>

                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.features"}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                优势
                            {{else}}
                                EASY TO USE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                果园新鲜水果采完直接发货
                            {{else}}
                                With RESTful support, MVC model, and use bee tool to build your apps quickly with features including code hot compile, automated testing, and automated packing and deploying.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                售后
                            {{else}}
                                INTELLIGENT
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                微信面对面沟通，真诚打动您
                            {{else}}
                                With intelligent routing and monitoring, it's able to monitor your QPS, memory and CPU usages, and goroutine status. It provides you full control of your online apps.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                没有中间商
                            {{else}}
                                MODULAR
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                我们为果园代理，不赚取任何差价
                            {{else}}
                                With powerful built-in modules including session control, caching, logging, configuration parsing, performance supervising, context handling, ORM supporting, and requests simulating. You get the powerful foundation for any type of applications.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                质量保证
                            {{else}}
                                HIGH PERFORMANCE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                无公害食品
                            {{else}}
                                With native Go http package to handle the requests and the efficient concurrence of goroutine. Your beego applications can handle massive trafic as beego are doing in many productions.
                            {{end}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.who_are_use"}}</h2>
            <div class="whouse">
                <img class="img-thumbnail" src="/static/img/brands/hwclouds.png">
                <img class="img-thumbnail" src="/static/img/brands/letvcloud.png">
                <img class="img-thumbnail" src="/static/img/brands/360.png">
                <img class="img-thumbnail" src="/static/img/brands/youdao.png">
                <img class="img-thumbnail" src="/static/img/brands/weico.png">
                <img class="img-thumbnail" src="/static/img/brands/weibo.png">
                <img class="img-thumbnail" src="/static/img/brands/jd.png">
                <img class="img-thumbnail" src="/static/img/brands/bmob.png">
                <a target="_blank" href="http://www.ardanstudios.com/"><img class="img-thumbnail" src="/static/img/brands/ardanstudios.png"></a>
                <img class="img-thumbnail" src="/static/img/brands/oupeng.png">
                <img class="img-thumbnail" src="/static/img/brands/meituan.png">
                <img class="img-thumbnail" src="/static/img/brands/tudou.png">
                <img class="img-thumbnail" src="/static/img/brands/lianzong.png">
                <img class="img-thumbnail" src="/static/img/brands/17173.png">
                <img class="img-thumbnail" src="/static/img/brands/taobao.png">
                <img class="img-thumbnail" src="/static/img/brands/snda.png">
                <img class="img-thumbnail" src="/static/img/brands/tencent.png">
                <img class="img-thumbnail" src="/static/img/brands/zalora.png">
                <img class="img-thumbnail" src="/static/img/brands/wepiao.png">
                <img class="img-thumbnail" src="/static/img/brands/lianjia.png">
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{template "tweets.html" .}}
</div>
-->
{{end}}
